.background{
    -fx-background-color: #3D484F;
    -fx-margin: 10px;
    -fx-padding: 20px;
}

.label{
	-fx-text-fill: white;
}

.button {
	-fx-pref-width: 120px;
	-fx-padding: 5px;
	
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #53566C;
}

.button:hover {    
    -fx-background-color: #3D3F4F;
}