.facilityContainer{
    -fx-spacing: 18px;
    -fx-margin: 12px;
    -fx-padding: 5px;
}

.facility{
	-fx-spacing: 2px;
	-fx-margin: 3px;
}

.background{
    -fx-background-color: #3D484F;
}

.componentBackground{
    -fx-background-color: #202020;
    /* -fx-margin:30px; */
    -fx-background-radius:10px;
    -fx-max-height: 200px;
    /* -fx-padding:10px; */
}

.button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #53566C;
}

.button:hover {    
    -fx-background-color: #3D3F4F;
}

.buttonContainer{
    -fx-spacing:20px;
}

.text {
	-fx-font-family: "Montserrat";
	-fx-text-fill: #FFFFFF;
}

* {
	-fx-primary-color: #4B6EAF;
    
	-fx-focus-color: -fx-primary-color;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
	-fx-background-color: none;
	-fx-background-radius: 0;
}
.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
	-fx-background-color: -fx-primary-color;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
	-fx-background-color: white;
}

.spinner {
	-fx-background-color: none;
	
}

.text-field {
    -fx-background-color: none ;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
    -fx-background-radius: 0 ;
    -fx-text-fill: white;
    
}

.text-field:focused{
	    -fx-border-width: 0 0 2 0;
	
}

.combo-box-base {
    -fx-background-color: none;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
}

.combo-box .list-cell {
    -fx-background-color: #202020;
    -fx-text-fill: white;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}
