.grid-pane{
    -fx-background-color: #3D484F;
    
}
.label{
    color:red;
}

.textField {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.rectangle {
    -fx-background-color: #202020;
}

.text-field {
    -fx-background-color: none ;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
    -fx-background-radius: 0 ;
    -fx-text-fill: white;
    
}

.text-field:focused{
	    -fx-border-width: 0 0 2 0;
	
}