.grid-pane{
    -fx-background-color: #3D484F;
    
}
.label{
    color:red;
}

.textField {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.rectangle {
    -fx-background-color: #202020;
}