.button {
    -fx-font-size: 14px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-margin: 30px;

    -fx-pref-width: 120px;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}