.table-row-cell:odd {
    -fx-background-color: #1e1e1e; /* Set the background color for odd rows */
    -fx-font-family: "Montserrat";
    -fx-text-fill: #FFFFFF;
}

.table-row-cell:even {
    -fx-background-color: #202020; /* Set the background color for even rows */
    -fx-font-family: "Montserrat";
    -fx-text-fill: #FFFFFF;
}

.background{
    -fx-background-color: #3D484F;
    -fx-margin: 10px;
    -fx-padding: 20px;
}

.table-view{
    -fx-border-color: #111111;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #53566C;
}

.button:hover {    
    -fx-background-color: #3D3F4F;
}

.buttonBox{
	-fx-spacing: 10px;
}

/* .table-view .column-header .label {
    -fx-background-color: #30323F;
} */

.table-view{
    -fx-border-color: #111111;
}
